# coding: utf-8

"""
    speechapi

    Speech APIs enable you to recognize speech and convert it to text using advanced machine learning, and also to convert text to speech.  # noqa: E501

    OpenAPI spec version: v1
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from cloudmersive_voicerecognition_api_client.api_client import ApiClient


class RecognizeApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def speech_recognize_file_post(self, **kwargs):  # noqa: E501
        """Recognize audio input as text using Advanced AI  # noqa: E501

        Uses advanced AI to convert input audio to text. Supports WAV, MP3, M4A, FLAC, OGG, and WMA formats. Consumes 1 API call per second of audio in Fast mode, 5 API calls per second in Normal mode, and 10 API calls per second in Advanced mode.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.speech_recognize_file_post(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str language_code: ISO 639-3 three-letter language code (e.g. eng, spa, fra). Empty for auto-detect.
        :param str recognition_mode: Recognition mode: Fast, Normal (default), or Advanced. Advanced is only available on Private Cloud and Managed Instance deployments.
        :param file speech_file:
        :return: SpeechRecognitionResult
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.speech_recognize_file_post_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.speech_recognize_file_post_with_http_info(**kwargs)  # noqa: E501
            return data

    def speech_recognize_file_post_with_http_info(self, **kwargs):  # noqa: E501
        """Recognize audio input as text using Advanced AI  # noqa: E501

        Uses advanced AI to convert input audio to text. Supports WAV, MP3, M4A, FLAC, OGG, and WMA formats. Consumes 1 API call per second of audio in Fast mode, 5 API calls per second in Normal mode, and 10 API calls per second in Advanced mode.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.speech_recognize_file_post_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str language_code: ISO 639-3 three-letter language code (e.g. eng, spa, fra). Empty for auto-detect.
        :param str recognition_mode: Recognition mode: Fast, Normal (default), or Advanced. Advanced is only available on Private Cloud and Managed Instance deployments.
        :param file speech_file:
        :return: SpeechRecognitionResult
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['language_code', 'recognition_mode', 'speech_file']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method speech_recognize_file_post" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}
        if 'language_code' in params:
            header_params['languageCode'] = params['language_code']  # noqa: E501
        if 'recognition_mode' in params:
            header_params['recognitionMode'] = params['recognition_mode']  # noqa: E501

        form_params = []
        local_var_files = {}
        if 'speech_file' in params:
            local_var_files['speechFile'] = params['speech_file']  # noqa: E501

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['text/plain', 'application/json', 'text/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['multipart/form-data'])  # noqa: E501

        # Authentication setting
        auth_settings = ['Apikey']  # noqa: E501

        return self.api_client.call_api(
            '/speech/recognize/file', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='SpeechRecognitionResult',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
